
*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* header{
    border-bottom: 1px solid #ddd;
} */
header > div{
    width: 90%;
    height: 65px;
    margin: 0 auto;
}
header .logo{
    float: left;
    margin-top: 10px;
}
header .gnb{
    float: right;
}
header .gnb li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 24px;
}
header .gnb li:first-child{
    margin-left: 0;
}
/*상단배너*/

* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}

[name="slide"] {display:none;}
.slidebox {max-width:1000px;width:100%;margin:0 auto;text-align:center;}
.slidebox img {max-width:100%;}
.slidebox .slidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.slidebox .slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .35s;
}
.slidebox {
    max-width: none; /* 기존의 max-width 속성 제거 */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
/* 페이징 스타일 */
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:#333;}

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 10s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 10s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 10s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 10s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform:translateX(-400%);animation:slide05 10s infinite;}

@keyframes slide01 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:-300%;}
	98% {left:-300%;}
	100% {left:0%;}
}
@keyframes slide02 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide03 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide04 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:300%;}
	48% {left:300%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide05 {
    0% {transform: translateX(-400%);}
    20% {transform: translateX(-400%);}
    25% {transform: translateX(-300%);}
    45% {transform: translateX(-300%);}
    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}
    75% {transform: translateX(-100%);}
    95% {transform: translateX(-100%);}
    100% {transform: translateX(-400%);}
}


/*보고싶은 아이돌*/
.Idol_ck h1{
margin-top: 50px;
margin-left: 40px;
font-size: 30pt;
font-weight: 900;
}
.contaniner{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
	margin-top: 40px;
}